# Ignore environment variable files
.env
.venv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook metadata
*.ipynb_checkpoints