# Ignore environment variable files
.env
.venv

# Input and output
input/
output/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook metadata
*.ipynb_checkpoints